 <!-- About Section -->
    <section class="secondary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                    <p>Hi, my name is Eric Müller-Budack. I received the Master of Engineering (M. Eng.) from the Jena University of Applied Sciences, Germany, in 2014. Currently I am a PhD candidate in the Visual Analytics Research Group at the TIB - Leibniz Information Centre for Science and Technology in Hannover, Germany.</p>
                    <p>My main research interests include automatic multimedia indexing, multimedia and multimodal information retrieval, deep learning for multimedia analysis and retrieval, as well as sports analytics.</p>
                </div>
            </div>
        </div>
    </section>
