 <!-- About Section -->
    <section class="secondary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 text-center">
                    <h2>About</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                    <p style="text-align: justify;">
                        Hi, my name is Eric Müller-Budack.
                        I am currently working as a postdoctoral researcher in the
                        <a href="https://www.tib.eu/en/research-development/research-groups-and-labs/visual-analytics">Visual Analytics Research Group</a> 
                        of the 
                        <a href="https://www.tib.eu/en">TIB - Leibniz Information Centre for Science and Technology</a>
                        as well as at the 
                        <a href="https://www.l3s.de/en">L3S Research Center</a> 
                        of the 
                        <a href="https://www.uni-hannover.de/en/">Leibniz Universität Hannover</a>.
                    </p>

                    <p>
                        My main research interests include automatic multimedia indexing, multimedia and multimodal information retrieval, deep learning for multimedia analysis and retrieval, as well as sports analytics.
                    </p>
                </div>
            </div>
        </div>
    </section>
